__pycache__
.DS_Store
.vscode
tmp
.ropeproject
*.tar.gz
*.mov
efficientdet/serve_image_out
efficientdet/efficientdet-d*
efficientdet/efficientnet-b*
efficientdet/tfrecord*
efficientdet/val2017
efficientdet/train2017
efficientdet/savedmodel
efficientdet/annotations
efficientdet/gtsdb
efficientdet/gtsdb_robo_tfrecord
efficientdet/gtsdb_test_output
savedmodel*
efficientdet/Example_DFUC2020_EfficientDet_Train_Eval.ipynb
efficientdet/.ipynb_checkpoints/gtsdb-checkpoint.ipynb
venv/
slurm_outputs/
slurm-*
*.out
*.txt
!**requirements.txt
*.html
